
 <!-- totalAmount -->
<div class="col-3 mx-auto">
  <p class="d-flex justify-content-around">
    <span class="text-dark" style="font-size:20px;">
      總金額：
    </span>
    <span class="text-warning" style="font-size:50px;">
      ${{totalAmount}}元
    </span>
  </p>
</div>

 <!-- sort bar -->
 <div>
  <div class="dropdown" style="display:flex; align-items:center; justify-content:center; margin-bottom:10px">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 50%">
     {{#if sort}}{{sort}}
        {{else}}排序
     {{/if}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink"  style="width: 50%">
      <li><a class="dropdown-item" href="/sort/全部">全部</a></li>
      <li><a class="dropdown-item" href="/sort/家居物業">家居物業</a></li>
      <li><a class="dropdown-item" href="/sort/交通出行">交通出行</a></li>
      <li><a class="dropdown-item" href="/sort/休閒娛樂">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="/sort/餐飲食品">餐飲食品</a></li>
      <li><a class="dropdown-item" href="/sort/其他">其他</a></li>
    </ul>
 </div> 
</div>

<!-- records -->
<ul class="list-group w-50 mx-auto">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-1 my-auto px-4">
        <i class="{{this.categoryId.icon}} fa-2x text-muted"></i>
      </div>
      <div class="col-auto mr-auto px-0">
        <h4 class="text-dark"  style="display: inline; vertical-align: middle;">
          {{this.name}}
        </h4>
        <p class="mb-1 text-muted">
          {{this.date}}
        </p>
      </div>
      <div class="col-auto my-auto">
        <span class="text-muted" style="display: inline; vertical-align: middle; font-size:20px;">
          ${{this.amount}}元
        </span>
      </div>
      <div class="col-auto my-auto">
        <a class="btn btn-outline-success" href="/records/edit/{{ this._id }}">修改</a>
        <form action="/records/delete/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
          onsubmit="return confirm('確定要刪除嗎?')" id="delete">
          <button class="btn btn-outline-danger" type="submit" form="delete">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<!-- create btn -->
<div class="col-4 my-5 mx-auto text-center">
  <a href="/records/create" class="btn btn-warning text-muted font-weight-bolder btn-lg">新增支出</a>
</div>